<!-- Created By Faraz Shamim
Last modification date : 31.01.2021 -->

<div class = 'row m-0 w-100'>
    
    <div class = 'col-md-4 offset-4 mt-5' *ngIf = "!this.isAdmin">
        <h5> Please Log in as admin</h5>
    </div>    
    <div class = 'col-md-4 offset-4 mt-5' *ngIf = "this.isAdmin">
        <h4>Register</h4>
        <form #myform = "ngForm" enctype="application/x-www-form-urlencoded" (ngSubmit) = "onSubmit(myform)">
            <div class="form-group" class="input" >
                <label for="role" > Role:</label> 
               <span> 
                   <select class="form-control"  name ="role" ngModel>  
                       <option *ngFor = "let role of roles" ng-click="role" type = "submit"> {{role}}</option>
                   </select>
                  
               </span>
            </div>
            <div>
                <div class = 'form-group' class="input">
                    <label for="username" > Username:</label> 
                    <span><input class = 'form-control'  name = 'username'  placeholder = "Username" ngModel></span>
                </div>
                <div class = 'form-group' class="input">
                    <label for="Password" > Password:</label> 
                    <span><input class = 'form-control' type = "password" name = "password" placeholder = "Password" ngModel></span>
                </div>
                <div class = 'form-group' class = "ng-hide" class="input" ng-show = "role == 'patient'" >
                    <label for="patientId" > PatientId:</label> 
                    <span><input class = 'form-control' type = "text" name = "patientId" placeholder = "Patient Id" ngModel></span>
                </div>
       
                <div class = 'form-group' class="input">
                    <label for="id" > Id:</label> 
                    <span><input class = 'form-control' type = "text" name = "id" placeholder = "Id" ngModel></span>
                </div>
                <div class = 'form-group' class="input">
                    <label for="docrtorId" > Doctor Id:</label> 
                    <span><input class = 'form-control' type = "text" name = "doctorId" placeholder = "Docrtor Id" ngModel></span>
                </div>
                <div class = 'form-group' class="input">
                    <label for="org" > Organisation:</label>
                    <span><input class = 'form-control' type = "text" name = "org" placeholder = "Organisation" ngModel></span>
                </div>
                <div class = 'form-group' class="input" *ngIf = "role== patient">
                     <label for="address" > Address:</label>
                    <span><input class = 'form-control' type = "" name = "address" placeholder = "Address" ngModel></span>
                 </div>
                <div class = 'form-group' class="input" *ngIf = "role == patient">
                    <label for="tel" > Telephone:</label>
                     <span> <input class = 'form-control' type = "text" name = "tel" placeholder = "Telephone" ngModel></span>
                    </div>
                <div class = 'form-group' class="input" *ngIf = "role == patient">
                     <label for="diagnosis" > Diagnosis:</label>
                     <span><input class = 'form-control' type = "text" name = "diagnosis" placeholder = "Diagnosis" ngModel></span>
                 </div>
                <div class = 'form-group' class="input">
                    <label for="medication" > Medication:</label>
                    <span><input class = 'form-control' type = "text" name = "medication" placeholder = "Medication" ngModel></span>
                </div>
                <div class="input">
                    <input class= 'btn btn-outline-info' type = "submit" name = "Register" value = "register">
                </div>
            </div>
        </form>
    </div>
</div>
