label {
    text-align: center;
    float: right;
   
}

span {
    display: block;
    overflow: hidden;
} 
 /* input {
    width: 100%;
}    */
.input {
    display:flex ;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 2px;
    
} 